/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
Echange WABA.md
envweb
translations_modifie.xlsx
scratch_schema.php
test.php
scratch_license.php
scratch_license.php
composer.lock
scratch_license.php
scratch_license.php
/design template create whatsapp wizard
design template create wizard/FireShot Capture 001 - WhatsCRM - Chatbot, Flow Builder, API Access, WhatsApp CRM SAAS Sys_ - \[preview.codecanyon.net].png
design template create wizard/FireShot Capture 002 - WhatsCRM - Chatbot, Flow Builder, API Access, WhatsApp CRM SAAS Sys_ - \[preview.codecanyon.net].png
.gitignore
design template create wizard/FireShot Capture 003 - WhatsCRM - Chatbot, Flow Builder, API Access, WhatsApp CRM SAAS Sys_ - \[preview.codecanyon.net].png
design template create wizard/FireShot Capture 005 - WhatsCRM - Chatbot, Flow Builder, API Access, WhatsApp CRM SAAS Sys_ - \[preview.codecanyon.net].png
design template create wizard/FireShot Capture 004 - WhatsCRM - Chatbot, Flow Builder, API Access, WhatsApp CRM SAAS Sys_ - \[preview.codecanyon.net].png
design template create wizard/FireShot Capture 006 - WhatsCRM - Chatbot, Flow Builder, API Access, WhatsApp CRM SAAS Sys_ - \[preview.codecanyon.net].png
new-data-schema.sql
composer.phar

carousel_steps.html
carousel_steps_generator.py
design template create wizard/
temp_alpine.js
temp_script.js
temp_test.js
update_alpine.py
update_preview.py
__pycache__/
